{% extends "layout.html" %}
{% block title %} Add menu {% endblock %}
{% block content %}

<form method="POST" action="/admin/category/add">
    <input type="text" name="cate_name" class="form-control" placeholder="Category name">
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>

<ul class="list-group">
  <li class="list-group-item active" aria-current="true">categories</li>
{% for cate in categories %}
  <li class="list-group-item">{{ cate['name'] }}</li>

<form method="POST" action="/admin/delete/category">
    <input type="hidden" name="category_id" value="{{ cate['id'] }}">
    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
</form>
</ul>
{% endfor %}

<form method="POST" action="/admin/menu/add" enctype="multipart/form-data">
    <input type="text" name="menu_name" class="form-control mb-2" placeholder="Item name">
    <input type="text" name="description" class="form-control mb-2" placeholder="Description">
    <input type="number" step="0.01" name="price" class="form-control mb-2" placeholder="Price">
    <select name="category" class="form-select mb-2">
        {% for cate in categories %}
        <option value="{{ cate['id'] }}">{{ cate['name'] }}</option>
        {% endfor %}
    </select>
    <input type="file" name="image_path" class="form-control mb-2">
    <button type="submit" class="btn btn-primary">Add Item</button>
</form>

<ul class="list-group">
  <li class="list-group-item active" aria-current="true">menu</li>
{% for menu in menus %}
  <li class="list-group-item">{{ menu['name'] }}</li>

  <form method="POST" action="/admin/delete/menu">
    <input type="hidden" name="menu_id" value="{{ menu['id'] }}">
    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
  </form>
</ul>
{% endfor %}

{% endblock %}
 