{% extends "layout.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}

<div class="container mt-5">
    <h1>Admin Dashboard</h1>
    <p>Welcome, Admin! Here you can manage the menu and view orders.</p>
    <a href="/admin/menu" class="btn btn-primary">Manage Menu</a>
    <a href="/logout" class="btn btn-secondary">Logout</a>
    <a href="/admin/add_table" class="btn btn-primary">Manage tables</a>


</div>
{% for order in orders %}
    <div class="card mb-3">
        <div class="card-header">
            Order #{{ order['id'] }} — Table {{ order['table_id'] }} — {{ order['total_amount'] }}€
        </div>
        <div class="card-body">
            {% for item in order['items'] %}
            <p>• {{ item['name'] }} x{{ item['quantity'] }} — {{ item['price'] }}€</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock %}