{% extends "layout.html"%}
{% block title %} Booking {% endblock %}
{% block content%}
<h1 align="center"> book a table </h1>



<div class="container mt-4">

    <h2>Book a Table</h2>

    <form method="POST", action="add_booking">

        <div class="mb-3">
            <label class="form-label">Customer Name</label>
            <input type="text" name="customer_name" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text" name="customer_phone" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Date</label>
            <input type="text" id="date" name="date" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Time</label>
            <select name="time" class="form-select">
    <option value="10:00">10:00 AM</option>
    <option value="11:00">11:00 AM</option>
    <option value="12:00">12:00 PM</option>
    <option value="13:00">1:00 PM</option>
    <option value="14:00">2:00 PM</option>
    <option value="15:00">3:00 PM</option>
    <option value="16:00">4:00 PM</option>
    <option value="17:00">5:00 PM</option>
    <option value="18:00">6:00 PM</option>
    <option value="19:00">7:00 PM</option>
    <option value="20:00">8:00 PM</option>
    <option value="21:00">9:00 PM</option>
    <option value="22:00">10:00 PM</option>
</select>
        </div>

        <div class="mb-3">
            <label class="form-label">Guests</label>
            <input type="number" name="guests" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Table</label>
            
            <select name="table_id" class="form-select">
                {% for table in tables%}
                <option value="{{ table['id'] }}">
                     {{ table['table_number'] }}
                </option>
                {%endfor%}
            </select>
         
        </div>

        <button type="submit" class="btn btn-primary">Book</button>

    </form>

</div>

<script>
flatpickr("#date", {
    dateFormat: "Y-m-d",

    disable: [
        function(date) {
            let month = date.getMonth();
            let day = date.getDay();

            // January, February, December
            if (month === 0 || month === 1 || month === 11) {
                return true;
            }

            // Tuesday, except August
            if (day === 2 && month !== 7) {
                return true;
            }

            return false;
        }
    ]
});
</script>
{% endblock %}