{%extends "layout.html"%} 
{% block title %}Menu{% endblock %}
{% block content %}
<h1>Menu</h1>
<a href="/cart" class="btn btn-success">🛒 View Cart</a>
{% for cat in categories %}
<h3>{{ cat['name'] }}</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {%if item['category_id'] == cat['id']%}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>${{ item.price }}</td>
           <td> 
                    <form method="POST" action="/cart/add">
            <input type="hidden" name="item_id"    value="{{ item['id'] }}">
            <input type="hidden" name="item_name"  value="{{ item['name'] }}">
            <input type="hidden" name="item_price" value="{{ item['price'] }}">
            <button type="submit" class="btn btn-primary btn-sm">Add to Cart</button>
        </form>
            </td>

        </tr>
        {%endif%}
        {% if error %}
        <tr>
            <td colspan="3" class="text-center text-danger">{{ error }}</td>
        </tr>
        {% endif %}
    </tbody>
    {% endfor %}
</table>    
{% endfor %}
{% endblock %}


